/* line 7, ../sass/pushdown.scss */
.rmu-wrap.pushdown-wrap {
  -webkit-transition: height ease;
  -webkit-transition-delay: 200ms;
  -moz-transition: height ease 200ms;
  -o-transition: height ease 200ms;
  transition: height ease 200ms;
  width: 728px;
  height: 90px;
  position: relative;
  overflow: hidden; }
  /* line 14, ../sass/pushdown.scss */
  .rmu-wrap.pushdown-wrap.expanded {
    height: 270px; }
  /* line 18, ../sass/pushdown.scss */
  .rmu-wrap.pushdown-wrap > div {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; }
  /* line 25, ../sass/pushdown.scss */
  .rmu-wrap.pushdown-wrap .rmu-container {
    display: none;
    z-index: 1;
    width: 728px;
    height: 270px;
    background-position: 0 -90px; }
    /* line 32, ../sass/pushdown.scss */
    .rmu-wrap.pushdown-wrap .rmu-container .close {
      font-weight:bold;
	  color:#3c7ba4;
	  text-decoration:none;
      display: block;
      position: absolute;
      top: 235px;
      left: 5px;
      width: 60px;
      height: 30px;
	  background-color:none;
	  opacity:1 !important;
	  
	  }
  /* line 43, ../sass/pushdown.scss */
  .rmu-wrap.pushdown-wrap .pushdown {
    width: 728px;
    height: 90px;
    z-index: 2;
    background-position: 0 0; }
	
	.rmu-bgclick{
		width: 728px;
    	height: 270px;
    	z-index: 90;
		background-color:rgba(255,0,4,0);
	}

	.rmu-overlay-back{
		position:absolute;top:65px !important;z-index:49;left:395px;background-color:none;width:320px;height:180px;
	}

	.rmu-clickthru{
		position:absolute;top:0px;left:0px; width:728px; height:270px;z-index:100;background-color:rgba(255,0,4,0);
	}
	
	video{
		position: absolute;
		z-index: 1000;
		width:320px;
		height:180px;
		object-fit: none;
	}
